.body{
    background-color: rgb(173, 173, 173);
}

.heade{
    background-color: cadetblue;
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 3px solid;
}

.heade h3{
    margin: 0;
    padding: 0 15px;
    cursor: pointer;
}

.home{
    display: flex;
}

.botones{
    padding-top: 110px;
    padding-left: 110px;
    float: left;
    display: grid;
    width: 40%;
    
}


.module-botton{
    padding-top: 50px;
    width: 60%;
    height: 110%;
    background-color: rgb(167, 6, 6);
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.botones hr{
    width: 50%;
    border: 0;
}

.botones button{
    width: 50%;
}



.entrada{
    float: right;
    padding-right: 100px;
    padding-top: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}

.area1{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.label1{
    order: -1;
    font-size: 20px;    
}

.textarea1{
    width: 100%;
    height: 400px;
    resize: none;
}

.middle{
    padding-left: 50%;
}

.area2{
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
}

.label2{
    order: -1;
    font-size: 20px;    
}

.textarea2{
    width: 100%;
    height: 400px;
    resize: none;
    pointer-events: none;
}

.entrada label[id=pestaña]{
    width: 25%;
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
}